<html>
<head>
    <title>TACC Stats Web: Job detail</title>
</head>
<body>
{% if job %}
    <h1>Job {{ job.acct_id }}</h1>

    <img src="/tacc_stats/job_mem_heatmap/{{job.acct_id}}" alt="Job Memory Heatmap" />
<br>
    <img src="/tacc_stats/job_files_opened_heatmap/{{job.acct_id}}" alt="Files Opened Heatmap" />
<br>
    <img src="/tacc_stats/job_flops_heatmap/{{job.acct_id}}" alt="Flops Performed Heatmap" />

    <h2>Accounting Details</h2>
    <table border="1" cellpadding="5">
      <tr><th>Field</th><th>Value</th></tr>
      <tr><td> owner </td><td> {{job.owner}} </td></tr>
      <tr><td> queue </td><td> {{job.queue}} </td></tr>
      <tr><td> queue_wait_time </td><td> {{job.queue_wait_time}} </td></tr>
      <tr><td> begin </td><td> {{job.begin}} </td></tr>
      <tr><td> end </td><td> {{job.end}} </td></tr>
      <tr><td> run_time </td><td> {{job.runtime}} </td></tr>
      <tr><td> nr_hosts </td><td> {{job.nr_hosts}} </td></tr>
      <tr><td> nr_slots </td><td> {{job.nr_slots}} </td></tr>
      <tr><td> pe </td><td> {{job.pe}} </td></tr>
      <tr><td> failed </td><td> {{job.failed}} </td></tr>
      <tr><td> exit_status </td><td> {{job.exit_status}} </td></tr>
    </table>


    <h2>Aggregate values of monitors</h2>
    <table border="1" cellpadding="5">
      {% for key, value in attr_dict.items %}
          <tr><td> {{ key }} </td><td> {{ value }} </td></tr>
      {% endfor %}
    </table>
{% else %}
    <h1>Job not found</h1>
{% endif %}
</body>
</html>

