<head>
<script src="{{ STATIC_URL }}sorttable.js"></script>
<script src="{{ STATIC_URL }}jquery.min.js"></script>
<script src="{{ STATIC_URL }}anytime.js"></script>
<script src="{{ STATIC_URL }}jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}anytime.css" />
<style type="text/css">
<!--
@import url("{{ STATIC_URL }}jquery.dataTables.css");
-->
</style>
<title>Job Search Page</title> 
</head>
<div style="width:100%;height:30%">
<div style="float:left;">
<form action="/tacc_stats/search/" method="POST">{% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <p><input type="submit" value="Submit"></p>
<form>
<script>
    AnyTime.picker("id_begin", { format: "%m/%d/%z %l:%i"});
    AnyTime.picker("id_end", { format: "%m/%d/%z %l:%i"});
</script>
</div>
<div style="float:right;">
{% if COLORS %}
    <table id="hor-minimalist-a" border ="1" cellpadding="5">
        <tr><th> Color Legend <th></tr>
        {% for key, value in COLORS.items %}
            <tr style="{{value}}">
                <td>{{ key }}</td>
		<td><br></td>
            </tr>
         {% endfor %}
    </table>
{% endif %}
</div>
</div>
<div>
<div style="height:65%;width:100%">
    <table id="job_list" border="1" cellpadding="5" class="sortable">
        <thead>
            <tr>
                <th> ID </th>
                <th> owner </th>
                <th> hosts </th>
                <th> time spent </th>
                <th> begin </th>
                <th> memory used </th>
                <th> work open </th>
                <th> irq </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <script>
        $(document).ready(function() {
            $('#job_list').dataTable( {
                "bProcessing" : true,
                "bServerSide" : true,
                "sAjaxSource" : "/tacc_stats/data/",
                "fnServerParams" : function ( aoData ) {
                   aoData.push( { "name" : "acct_id", "value" : "{{ acct_id}}" } );
                   aoData.push( { "name" : "owner", "value" : "{{ owner }}" } );
                   aoData.push( { "name" : "begin", "value" : "{{ begin }}" } );
                   aoData.push( { "name" : "end", "value" : "{{ end }}" } );
                }
            } );
        } );
    </script>
</div>
